<div class="food-background">
    <div class="layer">
        <ul>
            <li>
                <LinkTo @route="index">Search</LinkTo>
            </li>
            <li>
                <LinkTo @route="favorites">Favorites</LinkTo>
            </li>
        </ul>
        {{#if session.isAuthenticated}}
        Logged in as {{ session.data.authenticated.user.displayName }}
        <button {{action "logout"}}>Sign out</button>
        {{outlet}}
        {{else}}
        <button {{action "login"}}>Sign in with Google</button>
        {{/if}}
    </div>
</div>
