<div>
    <div class="w-50 details ml-4">
        <h2 class="business-name mb-3">{{model.business.name}}</h2>
        <div class="card-background pt-5">
        <div class="card mx-auto" style="width: 18rem;">
            <img src={{model.business.photos}} class="card-img-top" alt="business-photo">
            <div class="card-body card-text-style">
                <p class="text-align-left"><span class="outer-detail"> Address: </span> {{model.business.location.formatted_address}}</p>
                <p class="text-align-left"><span class="outer-detail"> Phone Number: </span> {{model.business.phone}}</p>
                <p class="text-align-left"><span class="outer-detail"> Rating: </span>{{model.business.rating}}</p>
            </div>
        </div>
        </div>
        <a class="" href={{model.business.url}}><button class="business-action-button">Go to Website</button></a>
        {{#if model.favorite}}
        <button class="mx-auto mb-5 mt-5 business-action-button" {{action "unsave"}}>Unsave as Favorite</button>
        {{else}}
        <button class="mx-auto mb-5 mt-5  business-action-button" {{action "save"}}>Save as Favorite ⭐</button>
        {{/if}}
            
    </div>
    <div class="position-map mr-4 float-right">
        {{#g-map lat=model.business.coordinates.latitude lng=model.business.coordinates.longitude zoom=20 as |g|}}
            {{g.marker
            lat=model.business.coordinates.latitude
            lng=model.business.coordinates.longitude 
            draggable=false
            }}
        {{/g-map}}
    </div>
</div>
{{outlet}}