<div class="logo-container mx-auto">
    <p class="script mt-3"><span>Wish Dish</span></p>
    <p class="text-border text1">THOUSANDS OF</p>
    <p class="text-border text2">FOOD</p>
    <p class="text-border text3">OPTIONS</p>
    <p class="script"><span>Powered by Yelp</span></p>
</div>


<Input list="browsers" class="search-bar-custom" @value={{term}} @placeholder="Enter search here" />
<datalist class="option-size" id="browsers">
  {{#each model.business as |business|}}
  {{!-- <li><LinkTo @route='detail' @model={{business.id}}>{{business.name}}</LinkTo></li> --}}
  <option value={{business.name}}></option>
  {{/each}}
</datalist>

{{model.id}}


{{model.alias}}
{{model.url}}


{{outlet}}